<table class="table table-striped table-bordered">
    <tbody>    
                                                
        <tr>
            <th>Id</th>
            <td>{{ fournisseur.id }}</td>            
        </tr>
        
        <tr>
            <th>Date</th>    
            <td>{% if fournisseur.createdAt %}{{ fournisseur.createdAt|date('d/m/Y H:i:s') }}{% endif %}</td>            
        </tr>
        
        <tr>
            <th>Photo</th>
            <td> 
                <div style="max-width: 400px">
                    <img class="img-circle img-responsive" src="{{ asset('uploads/pieces/')}}{{fournisseur.photo}}"/>
                </div>
            </td>
        </tr>
                                                
        <tr>
            <th>Nom</th>
            <td>{{ fournisseur.nom }}</td>            
        </tr>    
                                                
        <tr>
            <th>Prénom</th>
            <td>{{ fournisseur.prenom }}</td>            
        </tr> 
        
        <tr>
            <th>Contacts</th>
            <td>{{ fournisseur.contacts | phone_number_format('INTERNATIONAL')}}</td>            
        </tr>
        
        <tr>
            <th>Adresse</th>
            <td>{{ fournisseur.adresse }}</td>            
        </tr>
        
        <tr>
            <th> </th>
            <td> </td>       
        </tr>
        
        <tr>
            <th>Enrégistré par</th>
            <td>{% if fournisseur.CreatedBy %} {{ fournisseur.CreatedBy.prenom}} {{ fournisseur.CreatedBy.nom | upper}}{% endif %}</td>            
        </tr>
        
        <tr>
            <th>Modifié par</th>
            <td>{% if fournisseur.UpdatedBy %} {{ fournisseur.UpdatedBy.prenom}} {{ fournisseur.UpdatedBy.nom | upper}} : le {{ fournisseur.UpdatedAt|date('d/m/Y H:i:s') }} {% endif %} </td>            
        </tr>
        
        <tr>
            <th>Actions</th>
            <td>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="{{ path('tontine_fournisseur_edit', { 'id': fournisseur.id }) }}"  class = "fournisseur_edit" data-rec = "{{fournisseur.id}}" >Modifier</a>
                </li>
            </ul>
        </div>
    </td>
        </tr>
        
  
    </tbody>
</table>