{% extends "default/index.html.twig" %}

{% block content_header %}
    <h1>Tableau de bord</h1>
{% endblock %}

{% block content %}
    <div class="row">                        
        {% if is_granted('ROLE_CLIENT_CREATE') %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Clients enregistrés aujourd'hui</span>
                        <span class="info-box-number">{{ dashboardDatas.newClientRegistered }}</span>
                        <div class="progress">
                          <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            <a href="{{ path('tontine_etat_client_enregistrer_journalier')}}"> >> Voir la liste</a>
                        </span>
                    </div>
                </div>
            </div>                        
        {% endif %}

        {% if is_granted('ROLE_TONTINE_CREATE') %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-blue"><i class="fa fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Tontines démarrées aujourd'hui</span>
                        <span class="info-box-number">{{ dashboardDatas.newTontineStarted }}</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            <a href="{{ path('tontine_dashboard_my_today_tontines')}}"> >> Voir la liste</a>
                        </span>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_TONTINE_ADD_MISE') %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Mise collectées aujourd'hui</span>
                        <span class="info-box-number">
                            {{ dashboardDatas.newMiseCollected }}
                            ({{ dashboardDatas.newMiseAmount | number_format(0, ',', ' ') }} Fcfa)
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            <a href="{{ path('tontine_dashboard_my_today_collected_mises')}}"> >> Voir la liste</a>
                        </span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Derniers clients enregistrés</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <ul class="users-list clearfix">
                        <li>
                            <img src="{{ asset('bundles/images/avatar04.png') }}" alt="User Image">
                            <a class="users-list-name" href="#">Alexander Pierce</a>
                            <span class="users-list-date">Il y a un instant</span>
                        </li>
                        <li>
                            <img src="{{ asset('bundles/images/avatar04.png') }}" alt="User Image">
                            <a class="users-list-name" href="#">Alexander Pierce</a>
                            <span class="users-list-date">Il y a 30min.</span>
                        </li>
                        <li>
                            <img src="{{ asset('bundles/images/avatar04.png') }}" alt="User Image">
                            <a class="users-list-name" href="#">Alexander Pierce</a>
                            <span class="users-list-date">Il y a 2h.</span>
                        </li>
                    </ul>
                </div>
                <div class="box-footer text-center">
                    <a href="{{ path('tontine_client_new') }}" class="btn btn-sm btn-primary btn-flat pull-left">Enregistrer un client</a>
                    <a href="{{ path('tontine_client_index') }}" class="btn btn-sm btn-default btn-flat pull-right">Voir la liste des clients</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dernières tontines enregistrées</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                </div>
                <div class="box-footer text-center">
                    <a href="#" class="uppercase">Liste de toutes les tontines</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}