{% extends "default/index.html.twig" %}

{% block content_header %}
    <h1>Tableau de bord</h1>
{% endblock %}

{% block content %}
    <div class="row">
        {% if is_granted('ROLE_CLIENT_CREATE') %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Clients enregistrés aujourd'hui</span>
                        <span class="info-box-number">{{ dashboardDatas.newClientRegistered }}</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        {# <span class="progress-description">
                            <a href="{{ path('tontine_etat_client_enregistrer_journalier')}}"> >> Voir la liste</a>
                        </span> #}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_COMMANDE_CREATE') %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-blue"><i class="fa fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Commandes / aujourd'hui</span>
                        <span class="info-box-number">{{ dashCommandeDatas.newCommandeRegistered }}</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                            <a href="{{ path('shop_command_index') }}"> >> Voir la liste des commandes</a>
                        </span>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_COMMANDE_CREATE') %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Achat & Confection / aujourd'hui</span>
                        <span class="info-box-number">
                            {{ dashVenteDatas.newVenteRegistered }}
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        {#<span class="progress-description">
                            <a href="{{ path('shop_command_index') }}"> >> Voir la liste</a>
                        </span>#}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Derniers clients enregistrés</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <ul class="users-list clearfix">
                        {% if dashClientDatas is defined %}
                            {% if dashClientDatas.clientList is defined and dashClientDatas.clientList is not null and dashClientDatas.clientList is not empty %}
                                {% for client in dashClientDatas.clientList %}
                                    <li>
                                        <img src="{% if client.photo %}{{ asset('uploads/pieces/') }}{{ client.photo }}{% else %}{{ asset('bundles/images/avatar04.png') }}{% endif %}"
                                             alt="Photo du client">
                                        <a class="users-list-name" href="#">{{ client.name }} </a>
                                        <span class="users-list-date">Depuis le {{ client.createdAt|date('d/m/Y h:i:s') }}</span>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <div class="box-footer text-center">
                    <a href="{{ path('tontine_client_new') }}" class="btn btn-sm btn-primary btn-flat pull-left">Enregistrer un nouveau client</a>
                    <a href="{{ path('tontine_client_index') }}" class="btn btn-sm btn-default btn-flat pull-right">Voir
                        la liste de tous les clients</a>
                </div>
            </div>
        </div>
        {# <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Mains d'oeuvres enregistrées aujourd'hui</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    nnnnnnnnnnnnnnnnnnnnnnnnn
                </div>
                <div class="box-body">
                    nnnnnnnnnnnnnnnnnnnnnnnnn
                </div>
                <div class="box-body">
                    nnnnnnnnnnnnnnnnnnnnnnnnn
                </div>
                <div class="box-body">
                    nnnnnnnnnnnnnnnnnnnnnnnnn
                </div>
                <div class="box-body">
                    nnnnnnnnnnnnnnnnnnnnnnnnn
                </div>
                <div class="box-body">
                    nnnnnnnnnnnnnnnnnnnnnnnnn
                </div>
                <div class="box-body">
                    nnnnnnnnnnnnnnnnnnnnnnnnn
                </div>
                <div class="box-footer text-center">
                    <a href="#" class="uppercase">Liste de toutes les mains d'oeuvres</a>
                </div>
            </div>
        </div> #}
        {% if is_granted('ROLE_COMMANDE_CREATE') %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-gray"><i class="fa fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Confections / aujourd'hui</span>
                        <span class="info-box-number">
                            {{ dashMainDatas.newMainRegistered }}
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        {#<span class="progress-description">
                            <a href="{{ path('shop_command_index') }}"> >> Voir la liste</a>
                        </span>#}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if is_granted('ROLE_COMMANDE_CREATE') %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-user"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Modèles vendus / aujourd'hui</span>
                        <span class="info-box-number">
                            {{ dashModeleDatas.newModeleRegistered }}
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        {#<span class="progress-description">
                            <a href="{{ path('shop_command_index') }}"> >> Voir la liste</a>
                        </span>#}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}