{% extends "default/index.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .dashboard {
            padding: 10px;
        }

        .dashboard:after {
            display: table;
            content: "";
            clear: both;
        }

        .dashboard .small-box {
            position: relative;
            float: left;
            margin: 10px;
            width: 180px;
            height: 120px;
        }

        .dashboard .small-box .count {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 1.3em;
        }

        .dashboard .small-box .title {
            position: relative;
            display: inline-block;
            width: 100%;
            line-height: 1.5;
            vertical-align: middle;
            text-align: center;
            font-weight: 400;
            font-size: 1.2em;
        }

        .dashboard .small-box a {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    {%
    set dashboardMenus = [
        {title: 'Gestion des clients', icon: 'ion-bag', route: 'tontine_client_index', color: 'bg-light-blue-gradient'},
        {title: 'Gestion des tontines', icon: 'ion-money', route: 'tontine_tontines_index', color: 'bg-green'},
        {title: 'Transfert de fonds', icon: 'ion-money', route: 'tontine_transfert_fonds_index', color: 'bg-yellow'},
        {title: 'Gestion des utilisateurs', icon: 'ion-user', route: 'tontine_agent', color: 'bg-light-blue-gradient', roles: ['ROLE_GSP_TONTINE_ADMIN']},
        {title: 'Etat', icon: 'ion-stat', route: 'tontine_etat', color: 'bg-yellow', roles: ['ROLE_GSP_TONTINE_ADMIN']},
        {title: 'Paramètres', icon: 'ion-cogs', route: 'tontine_parameters_edit', color: 'bg-red', roles: ['ROLE_GSP_TONTINE_ADMIN']},
    ]
    %}
    <div class="dashboard">
        {% for menu in dashboardMenus %}
            {% if (menu.roles is defined and is_granted(menu.roles)) or menu.roles is not defined %}
                <div class="small-box {{ menu.color }}">
                    <div class="inner">
                        <span class="count">{{ loop.index }}</span>
                        <h2 class="title">{{ menu.title }}</h2>
                    </div>
                    <div class="icon">
                        <i class="ion {{ menu.icon }}"></i>
                    </div>
                    <a {% if menu.target is defined %} target="{{ menu.target }}"{% endif %} href="{{ path(menu.route) }}" data-route="{{ menu.route }}" class="small-box-footer getAuth">
                        Clique ici <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}    
    {% if cli is defined %}
        <script>
            $(function(){
                Yop.Pagelet({            
                   url: "{{ path('tontine_client_preview', {'id':cli.id }) }}",
                   pagelet: '#user-pagelet',
                   title: '{{cli.prenom}} {{cli.nom}}'
               });
            });
        </script>
    {% endif %}
{% endblock %}