<header class="main-header">
    <a href="{{ path('tontine_dashboard') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><img src="{{ asset('bundles/globalsevice.png') }}" style="width:50px;"
                                         class="img-circle" alt="fiacre"/></span>
        <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><img src="{{ asset('bundles/globalsevice.png') }}" style="width:70px;"
                                       class="img-circle" alt="fiacre"/>Global Design</span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->

        {% block button_menu %}
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        {% endblock %}
        {% if 'agents' in app.request.requestUri %}           
            <p style="color: white; font-weight: bold" class="navbar-text" >
                Gestion des agents
            </p>
        {% elseif 'client' in app.request.requestUri %}           
            <p style="color: white; font-weight: bold" class="navbar-text" >
                Gestion des clients
            </p>
        {% elseif 'commandes' in app.request.requestUri %} 
            <p style="color: white; font-weight: bold" class="navbar-text" >
                Gestion des commandes
            </p>
        {% endif %}
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% block userProfil %}
                    <li class="dropdown" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<b>Express Couture & Prèt à Porter</b>">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="yop-blink btn-danger" data-toggle="dropdown">
                            Express Couture
                            <span class="fa fa-bell"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">                            
                                {% if app.user %}
                                    {% if app.user.photo is not null %}
                                    <span><img  src="{{asset('uploads/pieces/')}}{{app.user.photo}}"  class="img-circle" style="display: inline; width: 40px; margin-top: -15px; margin-bottom: -15px"/></span>
                                {% else %}
                                    <span><img  src="{{asset('bundles/images/profil.png')}}"  class="img-circle" style="display: inline; width: 40px"/></span>
                                {% endif %}
                                {{ app.user.nom|upper }}  {{ app.user.prenom }}
                            {% endif %}
                            <span class="fa fa-gears"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="{{path('tontine_user_profile', {'id':app.user.id})}}">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    Profile
                                </a>
                            </li>
                            <li class="divider" role="presentation"></li>
                            <li role="presentation">
                                <a href="{{path('fos_user_security_logout')}}">
                                    <i class="fa fa-power-off" aria-hidden="true"></i>
                                    Déconnexion
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endblock %}
            </ul>
        </div>
    </nav>
</header>