<div class="user-panel">
    <div class="pull-left image">
        {% if app.user.photo %}
            <img src="{{ asset((['uploads/pieces', app.user.photo] | join('/'))) }}" widht="48" height="48" class="img-circle" alt="User Image">
        {% else %}        
            <img src="{{ asset('bundles/images/avatar04.png') }}" widht="48" class="img-circle" alt="User Image">
        {% endif %}
    </div>
    <div class="pull-left info">
        <p>{{ app.user.name }}</p>
        {{ app.user.profilName }}
    </div>
</div>

<ul class="sidebar-menu">
    <li>
        <a href="{{ path('tontine_dashboard') }}"><i class="fa fa-dashboard"></i> <span>Tableau de bord</span></a>
    </li>
        
    {% if is_granted('ROLE_CLIENT_VIEW') %}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i>
                <span>Client</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                {% if is_granted('ROLE_CLIENT_VIEW') %}                
                    <li><a href="{{ path('tontine_client_index') }}"><i class="fa fa-angle-right"></i> Liste des client</a></li>
                {% endif %}    
                {% if is_granted('ROLE_CLIENT_CREATE') %}
                    <li><a href="{{ path('tontine_client_new') }}"><i class="fa fa-angle-right"></i> Enregistrer un client</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_AGENT_VIEW') or is_granted('ROLE_AGENT_CREATE') %}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i>
                <span>Agents</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                {% if is_granted('ROLE_AGENT_VIEW') %}                
                    <li><a href="{{ path('tontine_agent') }}"><i class="fa fa-angle-right"></i> Liste des agents</a></li>
                {% endif %}    
                {% if is_granted('ROLE_AGENT_CREATE') %}
                    <li><a href="{{ path('tontine_agent_new') }}"><i class="fa fa-angle-right"></i> Enregistrer un agent</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_AGENT_VIEW') or is_granted('ROLE_AGENT_CREATE') %}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i>
                <span>Tissus</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                {% if is_granted('ROLE_AGENT_VIEW') %}                
                    <li><a href="{{ path('tontine_pagne') }}"><i class="fa fa-angle-right"></i> Liste des tissus</a></li>
                {% endif %}    
                {% if is_granted('ROLE_AGENT_CREATE') %}
                    <li><a href="{{ path('tontine_pagne_new') }}"><i class="fa fa-angle-right"></i> Enregistrer un tissu</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_AGENCY_VIEW') or is_granted('ROLE_AGENCY_CREATE') %}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-institution"></i>
                <span>Agences</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                {% if is_granted('ROLE_AGENCY_VIEW') %}                
                    <li><a href="{{ path('tontine_agencies_index') }}"><i class="fa fa-angle-right"></i> Liste des agences</a></li>
                {% endif %}    
                {% if is_granted('ROLE_AGENCY_CREATE') %}
                    <li><a href="{{ path('tontine_agencies_create') }}"><i class="fa fa-angle-right"></i> Ajouter une agence</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_COMMANDE_VIEW') or is_granted('ROLE_COMMANDE_CREATE') %}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i>
                <span>Commande des clients</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                {% if is_granted('ROLE_COMMANDE_VIEW') %}
                    <li><a href="{{ path('shop_command_index') }}"><i class="fa fa-angle-right"></i> Liste des commandes</a></li>
                {% endif %}
                {% if is_granted('ROLE_COMMANDE_CREATE') %}
                    <li><a href="{{ path('shop_command_new') }}"><i class="fa fa-angle-right"></i> Enregistrer une commande</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_GROUP_VIEW') or is_granted('ROLE_SETTING_EDIT') %}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cogs"></i>
                <span>Paramétrage</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                {% if is_granted('ROLE_CATEGORIE_VIEW') %}                
                    <li><a href="{{ path('tontine_categorie_index') }}"><i class="fa fa-angle-right"></i> Liste des catégories</a></li>
                {% endif %}
                {% if is_granted('ROLE_FOURNISSEUR_VIEW') %}                
                    <li><a href="{{ path('tontine_fournisseur_index') }}"><i class="fa fa-angle-right"></i> Liste des fournisseurs</a></li>
                {% endif %}    
                {% if is_granted('ROLE_FOURNISSEUR_CREATE') %}
                    <li><a href="{{ path('tontine_fournisseur_new') }}"><i class="fa fa-angle-right"></i> Enregistrer un fournisseur</a></li>
                {% endif %}
                {% if is_granted('ROLE_MODELE_VIEW') %}                
                    <li><a href="{{ path('tontine_modele_index') }}"><i class="fa fa-angle-right"></i> Liste des modèles boutique</a></li>
                    <li><a href="{{ path('tontine_nomodele_index') }}"><i class="fa fa-angle-right"></i> Liste des modèles non boutique</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %} 
    
    {% if is_granted('ROLE_GROUP_VIEW') or is_granted('ROLE_SETTING_EDIT') %}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cogs"></i>
                <span>Configuration</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                {% if is_granted('ROLE_GROUP_VIEW') %}
                    <li><a href="{{ path('tontine_agents_groups_index') }}"><i class="fa fa-angle-right"></i> Liste des profils d'agent</a></li>
                {% endif %}
                {# {% if is_granted('ROLE_SETTING_EDIT') %}
                    <li><a href="{{ path('tontine_parameters_edit') }}"><i class="fa fa-angle-right"></i> Modifier les paramètres</a></li> 
                {% endif %} #}
            </ul>
        </li>
    {% endif %}        

    {#{% include 'tontineBundle:Default:sidebar/agents.html.twig' %}
    {% include 'tontineBundle:Default:sidebar/tontine.html.twig' %}
    {% include 'tontineBundle:Default:sidebar/client.html.twig' %}
    {% include 'tontineBundle:Default:sidebar/etat.html.twig' %}    
    {% include 'tontineBundle:Default:sidebar/transfert.html.twig' %}#}   
</ul>