<tr>    
                        
    <td>{{ finContrat.id }}</td>    
                        
    <td>{{ finContrat.observation }}</td> 
    
    <td>{{ finContrat.contrat.code }}</td> 
    
    <td>{{ finContrat.contrat.client.nom }}  {{ finContrat.contrat.client.prenom }}</td>  
    
    <td>{{ finContrat.createdBy }}  </td> 
    
     <td>{% if finContrat.createdAt %}{{ finContrat.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td> 

    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="{{ path('tontine_fincontrat_show', { 'id': finContrat.id }) }}"  class = "fincontrat_show" data-rec = "{{finContrat.id}}" >show</a>
                </li>
                <li>
                    <a href="{{ path('tontine_fincontrat_edit', { 'id': finContrat.id }) }}"  class = "fincontrat_edit" data-rec = "{{finContrat.id}}" >edit</a>
                </li>
                <li class="divider"></li>
            </ul>
        </div>
    </td>    

</tr>        