{% form_theme form 'bootstrap_3_layout.html.twig' %}
<link rel="stylesheet"
              href="{{ asset('bundles/plugins/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/plugins/select2/select2.min.css') }}"/>
<div class="container-fluid container-small">
    <div class='row'>
        <div class="col-sm-12">
            {{ form_start(form) }}
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Commande: </h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_errors(form.designation) }}
                            <div class="form-group">
                                {{ form_label(form.designation, 'Désignation de la commande'|trans) }}
                                <div class="form-group">
                                    {{ form_widget(form.designation) }}
                                </div>
                            </div>
                            <span>&nbsp;&nbsp;&nbsp;</span>

                            <div class="form-group">
                                <span>Client</span>
                                <div class="form-group">
                                    <select class="form-control select2" name="tontinebundle_commande[client]">
                                        {% for client in clients %}
                                            <option value="{{ client.id }}">{{ client.name }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            {{ form_errors(form.typeCommande) }}
                            <div class="form-group">
                                {{ form_label(form.typeCommande, 'Type de commande'|trans) }}
                                <div class="form-group">
                                    {{ form_widget(form.typeCommande) }}
                                </div>
                            </div>

                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <div class="form-group" id="pagne">
                                <span>Pagnes</span>
                                <div class="form-group">
                                    <select class="form-control select2" multiple="true" name="tontinebundle_commande[pagne][]" style="width: 100%;">
                                        {% for pagne in pagnes %}
                                            <option value="{{ pagne.id }}">{{ pagne.reference }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                            </div>

                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <div id="modele">
                                <span>Modèles</span>
                                <div class="form-group">
                                    <select class="form-control select2" multiple="true" name="tontinebundle_commande[modele][]" style="width: 100%;">
                                        {% for modele in modeles %}
                                            <option value="{{ modele.id }}">{{ modele.libelle }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                            </div>

                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <div id="nomodele">
                                <span>Modèles non boutique</span>
                                <div class="form-group">
                                    <select class="form-control select2" multiple="true" name="tontinebundle_commande[nomodele][]" style="width: 100%;">
                                        {% for nomodele in nomodeles %}
                                            <option value="{{ nomodele.id }}">{{ nomodele.libelle }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ form_rest(form) }}
                </div>
                <div class="box-footer">
                    {% if isModal is not defined %}
                        {% block form_actions %}
                            <div class="record-actions pull-left">
                                <a href="{{ path('shop_command_index') }}" class="btn btn-default" style="margin: 5px;">Retour</a>
                            </div>
                            <div class="record-actions pull-right">
                                <input type="submit" class="btn btn-primary" value="{% if submit is defined %}{{ submit }}{% else %}Valider{% endif %}" />
                            </div>
                        {% endblock %}
                    {% endif %}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script src="{{ asset('bundles/plugins/select2/select2.full.min.js') }}"></script>

<script type="text/javascript">
    $(function(){
        $(".select2").select2();
        
    });
</script>