{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div style="padding: 10px;">
    {{ form(form) }}    
    <div id="bien-list">
        <div class="list-item bien-selector-item" data-value="" data-search="">
            <p>Cliquez pour sélectionner un bien</p>
        </div>
        {% for bien in biens %}
        <div class="list-item bien-selector-item" data-value="{{ bien.id }}" data-search="{{ bien.code }} {{ bien.zone }}">
            <strong>{{ bien.code }}</strong> ({{ bien.zone }})
            <p>{{ bien.description }}</p>
        </div>
        {% endfor %}
    </div>
    <div id="bien-options" class="row"></div>
</div>    