<tr>    
                        
    <td>{{ contrat.nomClient() }}</td>    
                        
    <td>{{ contrat.id }}</td>    
                        
    <td>{{ contrat.codeBien }}</td>    
                            
    <td>{% if contrat.date %}{{ contrat.date|date('Y-m-d H:i:s') }}{% endif %}</td>    
                            
    <td>{% if contrat.createdAt %}{{ contrat.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>        

    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="{{ path('tontine_contrat_show', { 'id': contrat.id }) }}"  class = "contrat_show" data-rec = "{{contrat.id}}" >show</a>
                </li>
                <li>
                    <a href="{{ path('tontine_contrat_edit', { 'id': contrat.id }) }}"  class = "contrat_edit" data-rec = "{{contrat.id}}" >edit</a>
                </li>
                <li class="divider"></li>
            </ul>
        </div>
    </td>    

</tr>        