<table class="table table-striped table-bordered">
    <tbody>    
                                                
        <tr>
            <th>Client</th>
            <td>{{ contrat.nomClient() }}</td>            
        </tr>    
                                                
        <tr>
            <th>Id</th>
            <td>{{ contrat.id }}</td>            
        </tr>    
                                                
        <tr>
            <th>Code du Bien</th>
            <td>{{ contrat.codeBien }}</td>            
        </tr>    
        <tr>
            <th>Code du Contrat</th>
            <td>{{ contrat.code}}</td>            
        </tr>    
                                                
          
                                                
        <tr>
            <th>Date de creation</th>    
            <td>{% if contrat.createdAt %}{{ contrat.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>            
        </tr>    
    </tbody>
</table>