<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Facture</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .header {
            position: absolute;
            top: -7mm;
            margin-bottom: 5mm;
        }

        .logo {
            height: 20mm;
            margin-left: 20mm;
        }

        /*.header-content {*/
        /*margin-top: -10mm;*/
        /*margin-right: 10mm;*/
        /*margin-bottom: 10mm;*/
        /*margin-left: 30mm;*/
        /*font-size: 4mm;*/
        /*text-align: center*/
        /*}*/

        .express-header, .date-header {
            display: inline-block;
        }

        .express-footer, .date-footer {
            display: inline-block;
        }

        .date-header {
            float: right;
        }

        .pagenum:before {
            content: counter(page);
        }

        .fiche-content {
            margin-top: 50mm;
            text-align: center;
            font-family: 'Times New Roman', serif;
        }

        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<div class="header">
    <div>
        <div class="header-content">
            <div>
                <h2 style="margin-left: 25px; margin-bottom: 0px;">Global Design</h2>
            </div>
            <div style="clear: both;">
                <div id="express-header" class="express-header">
                    <span>Express Couture & Prêt-à-Porter</span>
                </div>
                <div id="date-header" class="date-header" style="margin-left: 910px;">
                    <span><u><strong>Date</strong></u>&nbsp;&nbsp; {{ 'now'|date('d/m/Y') }}</span>
                </div>
            </div>
            <div>
                <span style="margin-left: -15px;">04 B.P C-l.: 65 02 97 97 Fixe : 21 30 76 83</span>
            </div>
            <div>
                <span style="margin-left: 35px;">Cotonou Rép. du Bénin</span>
            </div>
            {#<br/>#}
        </div>
    </div>
    <div align="right" style="">
        <span><u><strong>FACTURE : </strong></u><span style="color: red;">&nbsp; N<sup>o</sup>. {{ facture[0].numero }}</span></span>
    </div>
</div>

<div class="fiche-content">
    <div align="left" style="margin-bottom: 15px;">
        <span>Client : {{ commande.client.name }}</span>
    </div>
    <div align="center">
        <table style='width: 100%'>
            <thead>
            <tr>
                <th>Qté</th>
                <th>Désignation</th>
                <th>Prix Unitaire</th>
                <th>Montant total</th>
            </tr>
            </thead>
            <tbody>
            {% for fiche in fiches %}
                <tr>
                    <td style="text-align: center;">{{ '1' }}</td>
                    <td style="text-align: center;">{{ fiche.designation }}</td>
                    <td style="text-align: center;">{{ fiche.montant|number_format(0, ',', ' ') }}</td>
                    <td style="text-align: center;">{{ fiche.montant|number_format(0, ',', ' ') }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td style="text-align: left;" rowspan="3" colspan="2">
                    <b>Arrêté la présente Facture à la somme de</b> : {{ facture[0].total|number_format(0, ',', ' ')~' FCFA' }}
                </td>
                <td style="text-align: center;"><b>{{ 'Montant HT' }}</b></td>
                <td style="text-align: center;">{{ facture[0].total|number_format(0, ',', ' ') }}</td>
            </tr>
            <tr>
                <td style="text-align: center;"><b>{{ 'TVA' }}</b></td>
                <td style="text-align: center;">{{ '------' }}</td>
            </tr>
            <tr>
                <td style="text-align: center;"><b>{{ 'Mntant TTC' }}</b></td>
                <td style="text-align: center;">{{ facture[0].total|number_format(0, ',', ' ') }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="footer">
    <div style="margin-top: 20px;">
        <div class="express-footer" style="margin-bottom: 1px;">
            <span>Merci pour votre Fidélité</span>
        </div>
        <div class="date-footer" style="margin-left: -100px;">
            <span><u>Signature</u></span>
        </div>
    </div>
</div>

</body>
</html>