{% extends "default/index.html.twig" %}

{% block title %}Liste des commandes de Global Design{% endblock %}

{% block content_header %}
    <h3>Liste des commandes de Global Design</h3>
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Liste des commandes de Global Design</h3>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Reference</th>
                        <th>Designation</th>
                        <th>Type de commande</th>
                        <th>Date commande</th>
                        <th>Client</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for commande in commandes %}
                        {% set cpt = 0 %}
                        {% for fiche in fiches %}
                            {% if fiche.commande == commande  %}
                                {% set cpt = cpt + 1 %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td><a href="{{ path('shop_command_show', { 'id': commande.id }) }}">{{ loop.index }}</a></td>
                            <td>{{ commande.reference }}</td>
                            <td>{{ commande.designation }}</td>
                            <td>{% if commande.typeCommande == 'v' %}
                                    Vente
                                {% elseif commande.typeCommande == 'm' %}
                                    Main  d'oeuvre
                                {% else %} 
                                    Vente de modèle
                                {% endif %} 
                            </td>
                            <td>
                                {{ commande.createdAt|date('d/m/Y h:i:s') }}
                            </td>
                            <td>{% if commande.client %}
                                    {{ commande.client.name }}
                                {% endif %} 
                            </td>
                            <td>
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="fa fa-caret-down"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">

                                        {% if  is_granted('ROLE_COMMANDE_SHOW') %}
                                            <li>
                                                <a href="{{ path('shop_command_show', { 'id': commande.id }) }}">Afficher</a>
                                            </li>
                                        {% endif  %}

                                        {#{% if  is_granted('ROLE_COMMANDE_EDIT') %}#}
                                            {#<li>#}
                                                {#<a href="{{ path('shop_command_edit', { 'id': commande.id }) }}">Modifier</a>#}
                                            {#</li>#}
                                        {#{% endif  %}#}

                                        {% if  is_granted('ROLE_FICHE_EDIT') %}
                                            {% if  cpt < commande.nbrePagne or commande.nbrePagne == 0 %}
                                                <li>
                                                    <a href="{{ path('shop_fiche_travail_new', { 'id': commande.id }) }}">Editer la fiche de travail</a>
                                                </li>
                                            {% endif  %}

                                            {% if  cpt > 0 %}
                                                <li>
                                                    <a href="{{ path('shop_fiche_travail_index', { 'id': commande.id }) }}">Voir la fiche de travail</a>
                                                </li>
                                            {% endif  %}
                                        {% endif  %}

                                        <li>
                                            <a href="{{ path('shop_command_facture_edit', { 'id': commande.id }) }}">Editer la facture</a>
                                        </li>

                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <a href="{{ path('shop_command_new') }}" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Ajouter une nouvelle commande
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {#{% if cli is defined %}#}
        {#<script>#}
            {#$(function(){#}
                {#Yop.Pagelet({#}
                    {#url: "{{ path('tontine_client_preview', {'id':cli.id }) }}",#}
                    {#pagelet: '#user-pagelet',#}
                    {#title: '{{cli.prenom}} {{cli.nom}}'#}
                {#});#}
            {#});#}
        {#</script>#}
    {#{% endif %}#}
{% endblock %}
