{% extends 'default/index.html.twig' %}

{% block content_header %}
    <h1>Creation d'un client</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 well">
            {% include 'tontineBundle::partials/form.html.twig' with { submit: 'Valider' } %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#profile-img-tag').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".fselect").change(function(){
            readURL(this);
        });
        $("#profile-img-tag").on('click', function(){
            $(".fselect").click();
        })
    </script>
{% endblock %}



{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commande creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('shop_command_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
