{% extends 'default/index.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Créer un nouveau groupe d'agent{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Créer un nouveau groupe d'agent</h3>
        </div>
        <div class="box-body">
            <div class="container" style="max-width: 700px">
                {% include 'tontineBundle:Agent:Group/form_body.html.twig' %}
            </div>
        </div>
        <div class="box-footer">
            <a href="{{ path('tontine_agents_groups_index') }}" class="btn btn-default pull-left">Retour</a>
            <button type="submit" class="btn btn-primary pull-right">Valider</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        h3.role-group {
            margin: 15px 0 5px 17px;
            font-size: 14px;
            font-weight: bold;
        }

        .checkbox {
            margin: 0;
        }

        .checkbox label {
            display: block;
            margin: 2px;
            padding: 5px;
            cursor: pointer;
            background: #cccccc;
        }

        .checkbox label.checked {
            background: green;
            color: #ffffff;
        }

        .checkbox label.checked:before {
            content: "\f00c";
            margin-right: 5px;
        }

        .checkbox input[type="checkbox"] {
            opacity: 0;
        }
    </style>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(function() {
            $('.checkbox label').each(function() {
                var $checkbox = $(this).find('input[type="checkbox"]');

                if ($checkbox.is(':checked')) {
                    $(this).addClass('checked');
                }

                $(this).on('click', function() {                
                    if ($checkbox.is(':checked')) {
                        $(this).addClass('checked');
                    } else {
                        $(this).removeClass('checked');
                    }
                });
            });
        });
    </script>
{% endblock %}