  <style>
            .titre { 
                text-decoration: underline; 
                font-size: x-large;
            }  
            .liste-bien {  
                font-size: 10pt;
            }   

            table {  
                margin-left: auto; 
                margin-right: auto;
                font-size: 8pt;
                text-align: center;
            }        
  </style>

<p align="center">
 	<strong class="titre">FEUILLE DE CHOIX DE BIENS IMMOBILIERS POUR LA TONTINE</strong>
 </p>

<p align="center">
 			<strong class="titre">FICHE DE CHOIX DE FEVRIER A AVRIL 2017</strong>
 </p>

<table style="" border="1" cellspacing="0" cellpadding="3">
	<tbody>	
		<tr>
			<td colspan="15">
				<p>
					<strong>TABLEAU RECAPITULATIF DES MODALITES DE PAIEMENT ET DES DATES DE VISITE</strong>
				</p>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td rowspan="2"><strong>ZONES</strong></td>
			<td rowspan="2"><strong>CODES</strong></td>
			<td colspan="3"><strong>DUREE 1 AN</strong></td>
			<td colspan="3"><strong>DUREE 2 ANS</strong></td>
			<td colspan="3"><strong>DUREE 3 ANS</strong></td>
			<td><strong>DATE 1</strong></td>
			<td><strong>DATE 2</strong></td>
			<td><strong>DATE 3</strong></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>PAR JOUR</strong></td>
			<td><strong>PAR SEMAINE</strong></td>
			<td><strong>PAR MOIS</strong></td>

			<td><strong>PAR JOUR</strong></td>
			<td><strong>PAR SEMAINE</strong></td>
			<td><strong>PAR MOIS</strong></td>

			<td><strong>PAR JOUR</strong></td>
			<td><strong>PAR SEMAINE</strong></td>
			<td><strong>PAR MOIS</strong></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				<strong>MENTION DE CHOIX DU CLIENT</strong>
				<p align="center">
					<strong>(Ecrire devant le bien choisi, &lsquo;&rsquo;Lu et approuv&eacute;&rsquo;&rsquo; suivi du nom et de la signature ou de l&rsquo;empreinte digitale)</strong>
				</p>
			</td>
		</tr>
	</tbody>

{% for zone in biens %}           
    	<tbody>
    {% for bien in zone.biens %}  
		<tr>
			{% if loop.first %}
			<td rowspan="{{zone.nbre}}"><strong>{{zone.zone|upper}}</strong></td>
			{% endif %}
			<td><strong>{{bien.code}} - {{bien.quartier}}</strong></td>
		
		{% for option in bien.OptionTontine %} 
			<td >{{option.montant|number_format(0, ',', ' ')}}</td>
		{% endfor %}
			
			<td>{{bien.DateVisite1|localizeddate('full', 'none','fr')}}</td>
			<td>{{bien.DateVisite2|localizeddate('full', 'none','fr')}}</td>
			<td>{{bien.DateVisite3|localizeddate('full', 'none','fr')}}</td>
			<td></td>
		</tr>
	
	{% endfor %}
		</tbody>
{% endfor %}

</table>


<p>&nbsp;</p>

{% for zone in biens %}        
    {% for bien in zone.biens %}        
    	<p class="liste-bien" align="justify">
			<strong style="text-decoration: underline;">{{bien.code}}</strong>&nbsp;
			<span>{{bien.description}}</span>
		</p>
	{% endfor %}
{% endfor %}