{% extends 'default/yop-layout.html.twig' %}

{% block title %}Gestion des biens{% endblock %}


{% block content %}
    <div class="yop-app two-pane">
        <div class="pane pane-one" id="user-list">
            <div class="pane-header">
                <div class="user-search-bar">
                    <input type="text" name="search" class="form-control search-form" placeholder="Recherchez un bien..." />                
                </div>
            </div>
            <div class="pane-body">
                <div class="infinite-list">
                    {% for bien in biens %}
                    <div class="list-item" data-search="{{ bien.description }} {{ bien.code }} {{ bien.quartier }} {{ bien.zone }}" data-href="{{ path('tontine_bien_preview', { 'id': bien.id }) }}">
                        <div class="user-photo">
                            <img alt="Photo" src="{{ asset('bundles/globalsevice.png') }}">
                        </div>                                                  
                        <div class="user-description">
                            <div class="user-name">{{ bien.code }}</div>
                            <div class="user-phone">
                                <span class="fa fa-globe"></span>
                                {{ bien.zone }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>             
        </div>
        <div class="pane pane-two" id="user-pagelet">
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src='{{ asset('bundles/tontine/js/client.js') }}'></script>
    <script src='{{ asset('bundles/tontine/js/visite.js') }}'></script>
{% endblock %}
