{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if isModal is not defined %}
        {% block form_actions %}
            <div class="record-actions pull-left">
                <a href="{{ path('tontine_client_index') }}" class="btn btn-default" style="margin: 5px;">Retour</a>
            </div>
            <div class="record-actions pull-right">
                <input type="submit" class="btn btn-primary" value="{% if submit is defined %}{{ submit }}{% else %}Valider{% endif %}" />
            </div>
        {% endblock %}
    {% endif %}
{{ form_end(form) }}
