<table class="table table-striped table-bordered">
    <tbody>    
                                                
        <tr>
            <th>Date début</th>    
            <td>{% if transfertFond.dateDebut %}{{ transfertFond.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>            
        </tr>    
                                                
        <tr>
            <th>Date fin</th>    
            <td>{% if transfertFond.dateFin %}{{ transfertFond.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>            
        </tr>    
                                                
        <tr>
            <th>Montant</th>
            <td>{{ transfertFond.montant }} Fcfa</td>
        </tr>    

        <tr>
            <th>Pièce justificative</th>
            <td><a href="{{ asset(['uploads/pieces', transfertFond.piece] | join('/')) }}" target="_blank">{{ transfertFond.piece }}</a></td>
        </tr>
                                                
        <tr>
            <th>Date de transfert</th>    
            <td>{% if transfertFond.createdAt %}{{ transfertFond.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>            
        </tr>    
    </tbody>
</table>