{% extends 'default/yop-layout.html.twig' %}

{% block title %}Gestion des clients{% endblock %}

{% block content %}
    <div class="yop-app two-pane">
        <div class="pane pane-one" id="user-list" data-title="Client : ">
            <div class="pane-header">
                <div class="user-search-bar">
                    <input type="text" name="search" class="form-control search-form" placeholder="Recherchez un client..." />                
                </div>
            </div>
            <div class="pane-body">
                <div class="infinite-list">
                    {% for user in clients %}
                    <div class="list-item" data-search="{{ user.name }} {{ user.contacts | phone_number_format('INTERNATIONAL') }}" data-href="{{ path('tontine_client_preview', { 'id': user.id }) }}" data-name="{{ user.name }}">
                        <div class="user-photo">
                            <img src="{% if user.photo %}{{ asset('uploads/pieces/') }}{{user.photo}}{% else %}{{ asset('bundles/images/avatar04.png') }}{% endif %}" alt="Photo du clent {{ user.name }}">
                        </div>                                                  
                        <div class="user-description">
                            <div class="user-name">{{ user.name }}</div>
                            <div class="user-phone">
                                <span class="fa fa-phone"></span>
                                {{ user.contacts | phone_number_format('INTERNATIONAL') }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>             
        </div>
        <div class="pane pane-two" id="user-pagelet" yop-with-toolbar>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% if cli is defined %}
        <script>
            $(function(){
                Yop.Pagelet({            
                   url: "{{ path('tontine_client_preview', {'id':cli.id }) }}",
                   pagelet: '#user-pagelet',
                   title: '{{cli.prenom}} {{cli.nom}}'
               });
            });
        </script>
    {% endif %}
{% endblock %}