<div style="padding: 10px;">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Informations de l'utilisateur</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% if client.photo %}{{ asset('uploads/pieces/') }}{{client.photo}}{% else %}{{ asset('bundles/images/avatar04.png') }}{% endif %}" style="border-radius: 50%; width: 200px;">
                </div>
                <div class="col-sm-8">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="fa fa-caret-down"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            
                            {% if  is_granted('ROLE_CLIENT_EDIT') %}
                                    <li>
                                        <a onclick="getEditClientForm({{client.id}})" href="{{ path('tontine_client_edit', { 'id': client.id }) }}" data-rec = "{{client.id}}" >Modifier</a>
                                    </li>
                            {% endif  %}
                            
                        </ul>
                    </div>
                    <div><strong>Nom: </strong><strong>{{ client.name }}</strong></div>
                    <div><strong>Adresse: </strong>{{ client.adresse }}</div>
                    <div><strong>Contact: </strong>{{ client.contacts | phone_number_format('INTERNATIONAL')}}</div>
                </div>        
            </div>
        </div>
    </div>            

</div>    

