{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form) }}
{% if idc is defined %}
<idc hidden="hidden">{{idc}}</idc>
{% endif %}
    {{ form_widget(form) }}
    <div id="bien-list">
        <div class="list-item bien-selector-item" data-value="" data-search="">
            <p>Cliquez pour sélectionner un bien</p>
        </div>
        {% for bien in biens %}
        <div class="list-item bien-selector-item" data-value="{{ bien.id }}" data-search="{{ bien.code }} {{ bien.zone }}">
            <strong>{{ bien.code }}</strong> ({{ bien.zone }})
            <p>{{ bien.description }}</p>
        </div>
        {% endfor %}
        <visite-id style="display: none">{% if visite is defined %}{{visite.id}}{% endif %}</visite-id>
    </div>
    {% if isModal is not defined %}
        {% block form_actions %}
            <div class="record-actions pull-right">
                <a href="{{ path('tontine_visite_index', {'idc':visite.client.id}) }}" class="btn btn-default" style="margin: 5px;">Retour</a><input type="submit" class="btn btn-primary" value="{% if submit is defined %}{{ submit }}{% else %}Valider{% endif %}" />
            </div>
        {% endblock %}
    {% endif %}
{{ form_end(form) }}
