{% form_theme form 'bootstrap_3_layout.html.twig' %}

<button onclick="ajouterPiece();" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> Ajouter une piece</button>
{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if isModal is not defined %}
        {% block form_actions %}
            <div class="record-actions">
                <a href="{{ path('tontine_client_index') }}" class="btn btn-default" style="margin: 5px;">Retour</a>
                <input type="submit" class="btn btn-primary pull-right" value="{% if submit is defined %}{{ submit }}{% else %}Valider{% endif %}" />
            </div>
        {% endblock %}
    {% endif %}
{{ form_end(form) }}
