<table class="table table-striped table-bordered">
    <tbody>                                     
        <tr>
            <th>Id</th>
            <td>{{ conditionGenerale.id }}</td>            
        </tr>
        <tr>
            <th>Date d'enrégistrement</th>
            <td>{{ conditionGenerale.createdAt |date('d/m/Y H:i:s') }}</td>            
        </tr>
        <tr>
            <th>Date de signature</th>
            <td>{{ conditionGenerale.dateSignature |date('d/m/Y H:i:s') }}</td>            
        </tr>
        {% if conditionGenerale.pieces | length > 0%}
        <tr>
            <th rowspan="{{conditionGenerale.pieces | length}}">Pièces</th>
            <td>{{ conditionGenerale.pieces[0].nom}}</td>            
        </tr>
        {% endif %}
        {% set cmp = -1 %}
        {% for piece in conditionGenerale.pieces %}
            {% set cmp = cmp+1 %}
            {% if cmp !=  0%}
                <tr>
                    <td>{{piece.nom}}</td>            
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <th>Enrégistré par</th>
            <td>{% if conditionGenerale.CreatedBy %} {{ conditionGenerale.CreatedBy.prenom}} {{ conditionGenerale.CreatedBy.nom | upper}}{% endif %}</td>            
        </tr>
        
        <tr>
            <th>Modifié par</th>
            <td>{% if conditionGenerale.UpdatedBy %} {{ conditionGenerale.UpdatedBy.prenom}} {{ conditionGenerale.UpdatedBy.nom | upper}} : le {{ conditionGenerale.UpdatedAt|date('d/m/Y H:i:s') }} {% endif %} </td>            
        </tr>
        
    </tbody>
</table>