<tr>    
                        
    <td>{% if transfertCommission.createdBy %}{{ transfertCommission.createdBy.name }}{% endif %}</td>    
                        
    <td>{{ transfertCommission.montant }}</td>    
                            
    <td>{% if transfertCommission.createdAt %}{{ transfertCommission.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>        

    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="{{ path('tontine_transfertcommissions_show', { 'id': transfertCommission.id }) }}"  class = "transfertcommission_show" data-rec = "{{transfertCommission.id}}" >show</a>
                </li>
                <li>
                    <a href="{{ path('tontine_transfertcommissions_edit', { 'id': transfertCommission.id }) }}"  class = "transfertcommission_edit" data-rec = "{{transfertCommission.id}}" >edit</a>
                </li>
                <li class="divider"></li>
            </ul>
        </div>
    </td>    

</tr>        