{% if is_granted('ROLE_ETAT_VIEW') %}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-state"></i>
                <span>Les états</span>
                <span class="pull-right-container">
                    <i class="fa fa-state pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="{{ path('tontine_etat_mise') }}"><i class="fa fa-flag"></i> <span>Etat des mises</span></a>
                </li>
                <li>
                    <a href="{{ path('tontine_etat_client') }}"><i class="fa fa-list"></i> <span>Etat des clients </span></a>
                </li>
                <li>
                    <a href="{{ path('tontine_etat_transfert_fonds') }}"><i class="fa fa-money"></i> <span>Etat des TR de fonds</span></a>
                </li>
                <li>
                    <a href="{{ path('tontine_etat_contrat') }}"><i class="fa fa-minus"></i> <span>Etat contrats resiliés </span></a>
                </li>
                <li>
                    <a href="{{ path('tontine_etat_transfert_commissions') }}"><i class="fa fa-envelope"></i> <span>Etat des TR de commissions</span></a>
                </li>
                {% if is_granted('ROLE_ETAT_BIEN_VIEW') %}
                    <li>
                        <a href="#"><i class="fa fa-bien"></i> <span>Etat des biens en tontine</span></a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %} 