{% extends "default/index.html.twig" %}

{% block title %}Liste des fiches de travail{% endblock %}

{% block content_header %}
    <h3>Liste des fiches de travail</h3>
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Liste des fiches de travail de la commande <span class="btn-xs btn-info">{{ commande.reference }}</span></h3>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Type commande</th>
                        <th>Date commande</th>
                        <th>Date livraison</th>
                        <th>Désignation</th>
                        <th>Montant (en FCFA)</th>
                        <th>Contact client</th>
                        <th>Client</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for fiche in fiches %}
                        <tr>
                            <td><a href="#">{{ loop.index }}</a></td>
                            <td>
                                {% if fiche.commande %}
                                    {% if fiche.commande.typeCommande == 'v' %}
                                        Vente 
                                    {% elseif fiche.commande.typeCommande == 'm' %}
                                        Main  d'oeuvre
                                    {% elseif fiche.commande.typeCommande == 'a' %}
                                        Vente de modèle boutique
                                    {% else %}
                                        Vente de modèle non boutique
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ fiche.dateCommande|date('d/m/Y h:i:s') }}</td>
                            <td>{{ fiche.dateLivraison|date('d/m/Y h:i:s') }}</td>
                            <td>{{ fiche.designation }}</td>
                            <td>{{ fiche.montant|number_format(0,',','.') }}</td>
                            <td>
                                {% if fiche.commande %}
                                    {% if fiche.commande.client %}
                                        {{ fiche.commande.client.contacts | phone_number_format('INTERNATIONAL') }}
                                    {% endif %} 
                                {% endif %} 
                            </td>
                            <td>
                                {% if fiche.commande %}
                                    {% if fiche.commande.client %}
                                        {{ fiche.commande.client.name }}
                                    {% endif %} 
                                {% endif %} 
                            </td>
                            <td>
                                {% if fiche.commande %}
                                {% if fiche.commande.typeCommande == 'v' or fiche.commande.typeCommande == 'm'  %}
                                <div class="btn-group pull-center">
                                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle"
                                            data-toggle="dropdown">
                                        Actions
                                        <span class="fa fa-caret-down"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">

                                        <li>
                                            <a href="#" onclick="showModal(event, this, '{{ path('shop_fiche_travail_voir_mesure', { 'id': fiche.id }) }}','GET');">Voir les mesures</a>
                                        </li>
                                        {% if fiche.commande.status != 3 %}
                                        <li>
                                            <a href="{{ path('shop_fiche_travail_modif_mesure_form',{'id': fiche.id})}}" >Modifier les mesures</a>
                                        </li>
                                        {% endif %}

                                    </ul>
                                </div>
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <a href="{{ path('shop_command_index') }}" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Liste des commandes
            </a>
        </div>
    </div>
    {% include 'tontineBundle:modal:popup-fiche.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        function showModal(event, $this, url, method) {
            $('#waitModal').modal('show');
            $.ajax({
                url: url,
                type: method,
                success: function (data) {
                    $('#waitModal').modal('hide');
                    $("#idModal .modal-content").html(data);
                    //$("#idModal .modal-title").html(title);
                    $('#idModal').modal('show');
                }
            });
            event.preventDefault();
        }
    </script>
{% endblock %}
