<tr>    
                        
    <td>{{ resiliationContrat.typeMotif }}</td>                          
    <td>{% if resiliationContrat.dateDemande %}{{ resiliationContrat.dateDemande|date('Y-m-d') }}{% endif %}</td>                           
    <td>{{ resiliationContrat.detailsMotif }}</td>    
    <td>{% if resiliationContrat.validate==0 %}  <button type="button" class="btn btn-warning">Attente</button>  {% else %}
          <button type="button" class="btn btn-success">Validé</button> {% endif %}
     </td>    
                            
          

    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="{{ path('tontine_resiliationcontrat_show', { 'id': resiliationContrat.id }) }}"  class = "resiliationcontrat_show" data-rec = "{{resiliationContrat.id}}" >show</a>
                </li>
                <li>
                    <a href="{{ path('tontine_resiliationcontrat_edit', { 'id': resiliationContrat.id }) }}"  class = "resiliationcontrat_edit" data-rec = "{{resiliationContrat.id}}" >edit</a>
                </li>
                <li>
                {% if resiliationContrat.validate==0 %}     <a data-toggle="modal" data-target="#validerModal" href="#" onclick="recuperId({{resiliationContrat.id}})" data-rec = "{{resiliationContrat.id}}" >Validation</a> {% endif %}  
                    
                </li>
                <li class="divider"></li>
            </ul>
        </div>
    </td>    

</tr>     
