<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 50px;">#</th>
            <th>Client</th>
            <th>Tontine</th>
            <th>Montant déposé</th>
        </tr>
    </thead>
    <tbody>
    {% for mise in mises %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ mise.client.name }}</td>
            <td>Tontine {{ mise.tontine.mode.libelle }} ({{ mise.tontine.montant | number_format(0, ',', ' ') }} Fcfa / Mise)</td>
            <td><strong>{{ mise.montant | number_format(0, ',', ' ') }} Fcfa</strong></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">
                <p style="text-align: center">
                    Vous n'avez collecté aucune mise aujourd'hui.
                </p>
            </td>
        </tr>
    {% endfor %}
    {% if mises | length > 0 %}
        <tr>
            <td colspan="4">
                <strong>Total: {{ totalAmount | number_format(0, ',', ' ') }} Fcfa</strong>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>